<div data-cg-busy="Promessa">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Team Details</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3" align="center">
                    <h1>{{ vm.team.name | capitalize }} <span flag-icon nationality="vm.team.nationality"></span></h1>
                    <br>
                    <span default-team-icon></span>

                </div>
                <div class="col-md-9 col-lg-9">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Staff</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td>Coach:</td>
                        <td>
                            <a data-ui-sref="coachOneFromTeam({ teamId: vm.team.id, coachId: vm.team.coach.id })">
                                {{vm.team.coach.name|capitalize }} {{ vm.team.coach.surname|capitalize }}</a>
                        </td>
                        <td>
                            <span flag-icon nationality="vm.team.coach.nationality"></span>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3>Players Roster</h3>
            <div team-complete-roster team="vm.team"></div>
        </div>
    </div>
</div>