<div data-cg-busy="Promessa">
    <div class="panel panel-default">
        <div class="panel-heading">Teams</div>
        <div class="panel-body">
            <div data-textfilterfull></div>
        </div>
        <table class="table table-striped">
            <thead>
            <th>#</th>
            <th>Team</th>
            <th>Nationality</th>
            </thead>
            <tr data-ng-repeat="team in vm.teams | filter:searchText">
                <td><a data-ui-sref="teamOne({ teamId: team.id })">#</a></td>
                <td><a data-ui-sref="teamOne({ teamId: team.id })">{{ team.name| capitalize }}</a></td>
                <td>
                    <ul class="f32">
                        <li title="{{team.nationality}}" class="flag {{team.nationality.toLowerCase()}}"></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>