<div data-cg-busy="Promessa">
    <div class="panel panel-default">
        <div class="panel-heading">Teams</div>
        <div class="panel-body">
            <div data-filtrofull></div>
        </div>
        <table class="table table-striped">
            <thead>
            <th>#</th>
            <th>Team</th>
            <th>Nationality</th>
            </thead>
            <tr class="clickable" data-ng-repeat="team in vm.teams | filter:searchText"
                data-ui-sref="teamOne({ teamId: team.id })">
                <td><a data-ui-sref="teamOne({ teamId: team.id })">#</a></td>
                <td>{{ team.name| capitalize }}</td>
                <td>{{ team.nationality}}</td>
            </tr>
        </table>
    </div>
</div>