<div class="panel panel-default">
    <div class="panel-heading">Round Matches</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3" align="center">
                <h1>{{ vm.round.league.name | capitalize }}</h1>
                <h2> Match Day # {{ vm.round.day }}</h2>
            </div>
            <div class="col-md-9 col-lg-9">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Round:</td>
                        <td>
                            {{ vm.round.day }} / {{(vm.round.league.teams - 1)}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Score</th>
        <th>Simulated</th>
        </thead>
        <tr data-ng-repeat="match in vm.round.matches | filter:searchText">
            <td><a data-ui-sref="matchOne({ matchId: match.id })">#</a></td>
            <td><a data-ui-sref="teamOne({ teamId: match.home_team.id })">{{ match.home_team.name| capitalize }}</a>
            </td>
            <td><a data-ui-sref="teamOne({ teamId: match.away_team.id })">{{ match.away_team.name| capitalize }}</a>
            </td>
            <td><a data-ui-sref="matchOne({ matchId: match.id })">{{ match.goal_home }} - {{ match.goal_away }}</a></td>
            <td>
                <span ng-show="match.simulated" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span ng-hide="match.simulated" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </td>
        </tr>
    </table>

    <div class="pull-right">
    <a data-ui-sref="simulateRound({ leagueId:vm.round.league.id, roundId: vm.round.id })">
        <button ng-hide="vm.round.simulated" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Simulate Round
        </button>
    </a>
</div>
</div>