<table class="table">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Nationality</th>
        <th>Role</th>
        <th>Team</th>
        <th>Appearances</th>
        <th>Goals</th>
        <th>Avg</th>
    </thead>
    <tbody>
    <tr data-ng-repeat="player in players">
        <td></td>
        <td>
            <a ui-sref="playerOneFromTeam({teamId: player.team.id, playerId: player.id })">
                {{ ::player.name| capitalize }} {{::player.surname| capitalize }}
            </a>
        </td>
        <td>
            <span flag-icon nationality="player.nationality"></span>
        </td>
        <td>{{ ::player.role }}</td>
        <td>
            <a ui-sref="teamOne({teamId: player.team.id})">
                {{ ::player.team.name }}
            </a>
        </td>
        <td>{{ ::player.stats.goals }}</td>
        <td>{{ ::player.stats.appearances }}</td>
        <td>{{ ::player.stats.avg | number:2 }}</td>
    </tr>
    </tbody>
</table>