<table class="table" ng-model="orderByField" ng-model="reverseSort" ng-init="orderByField='goals'"
       ng-init="reverseSort=true">
    <thead>
    <th>#</th>
    <th>Name</th>
    <th>Nationality</th>
    <th>Role</th>
    <th>Team</th>
    <th>
        <a data-ng-click="orderByField='appearances'; reverseSort = !reverseSort">
            Appearances
        </a>
    </th>
    <th>
        <a data-ng-click="orderByField='goals'; reverseSort = !reverseSort">
            Goals
        </a>
    </th>
    <th>
        <a data-ng-click="orderByField='avg'; reverseSort = !reverseSort">
            Avg
        </a>
    </th>
    </thead>
    <tbody>
    <tr data-ng-repeat="player in players | orderBy:orderByField:reverseSort">
        <td></td>
        <td>
            <a ui-sref="playerOneFromTeam({teamId: player.team.id, playerId: player.id })">
                {{ ::player.name| capitalize }} {{::player.surname| capitalize }}
            </a>
        </td>
        <td>
            <span flag-icon nationality="player.nationality"></span>
        </td>
        <td>{{ ::player.role }}</td>
        <td>
            <a ui-sref="teamOne({teamId: player.team.id})">
                {{ ::player.team.name }}
            </a>
        </td>
        <td>{{ ::player.goals }}</td>
        <td>{{ ::player.appearances }}</td>
        <td>{{ ::player.avg | number:2 }}</td>
    </tr>
    </tbody>
</table>