/*
main
*/
.panel {
    min-width: 350px;
}
#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;
}
#footer:hover{
    opacity: 0.5;
}
body {
    margin-bottom: 100px;
    margin-top: 100px;
}

tr.highlight:hover{
    background-color: #000000;
    color:#ffffff;
}

.ng-enter {
    /* transition on enter for .5s */
    transition: .8s;
    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition */
.ng-enter-active {
     /* end with opacity 1 (fade in) */
     opacity: 1;
 }