<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Player Info</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"><span default-person-pic></span></div>
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Personal Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{ vm.player.name | capitalize }} {{ vm.player.surname | capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>{{ vm.player.age }}</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>
                            <span flag-icon nationality="vm.player.nationality"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Professional Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Team</td>
                        <td><a ui-sref="teamOne({teamId: vm.player.team.id })">{{vm.player.team.name}}</a></td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{vm.player.role}}</td>
                    </tr>
                    <tr>
                        <td>Skill</td>
                        <td>{{vm.player.skillAvg}}</td>
                    </tr>
                    <tr>
                        <td>Wage</td>
                        <td>{{vm.player.wageReq | currency: ''}} €</td>
                    </tr>
                    <tr>
                        <td>Market Value</td>
                        <td>{{vm.player.val | currency: ''}} €</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div ng-hide="vm.player.last_matches.length ==0" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Statistics</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <td>Appearances</td>
                <td>{{vm.player.appearances.count}}</td>
            </tr>

            <tr>
                <td>Goals</td>
                <td>{{vm.player.goals.count}}</td>
            </tr>

            <tr>
                <td>Avg</td>
                <td>{{vm.player.avg.avg}}</td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Last Matches</th>
            </tr>
            <tr>
                <th>Vote</th>
                <th>Goals</th>
                <th>Match Info</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in vm.player.last_matches">
                <td>{{match.vote}}</td>
                <td>{{match.goals}}</td>
                <td>
                    <a ui-sref="matchOne({matchId: match.match_id})">
                        <button type="button" class="btn btn-large">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </button>
                    </a>
                </td>
            </tr>
    </div>
</div>