<div data-cg-busy="Promessa">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Match Result</h3>
        </div>
        <div class="panel-body">
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><a data-ui-sref="teamOne({ teamId: vm.match.home_team.id})">{{ vm.match.home_team.name | capitalize }}</a></h2> <h1>{{ vm.match.goal_home }}</h1>
                            <table ng-show="vm.match.simulated" class="table table-striped">
                                <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Role</th>
                                </thead>
                                <tr data-ng-repeat="scorer in vm.match.info.scorers.home">
                                    <td></td>
                                    <td>{{ scorer.name| capitalize }} {{ scorer.surname| capitalize }}</td>
                                    <td>{{ scorer.role }}</td>
                                </tr>
                                </table>
                        </div>
                        <div class="col-md-6">
                            <h2><a data-ui-sref="teamOne({ teamId: vm.match.away_team.id})">{{ vm.match.away_team.name | capitalize }}</a></h2> <h1>{{ vm.match.goal_away }} </h1>
                            <table ng-show="vm.match.simulated" class="table table-striped">
                                <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Role</th>
                                </thead>
                                <tr data-ng-repeat="scorer in vm.match.info.scorers.away">
                                    <td></td>
                                    <td>{{ scorer.name| capitalize }} {{ scorer.surname| capitalize }}</td>
                                    <td>{{ scorer.role }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h3><a data-ui-sref="teamOne({ teamId: vm.match.home_team.id})">{{ vm.match.home_team.name | capitalize }}</a></h3>
                        <table class="table table-striped">
                            <thead>
                            <th>#</th>
                            <th><a data-ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a></th>
                            <th>Nationality</th>
                            <th><a data-ng-click="orderByField='role'; reverseSort = !reverseSort">Role</a></th>
                            </thead>
                            <tr data-ng-repeat="player in vm.match.home_team.roster | filter:searchText |orderBy:orderByField:reverseSort">
                                <td><a data-ui-sref="playerOneFromTeam({ teamId: vm.match.home_team.id, playerId: player.id })">#</a></td>
                                <td><a data-ui-sref="playerOneFromTeam({ teamId: vm.match.home_team.id, playerId: player.id })">{{ player.name| capitalize }} {{ player.surname| capitalize }}</a></td>
                                <td>
                                    <ul class="f32">
                                        <li title="{{player.nationality}}" class="flag {{player.nationality.toLowerCase()}}"></li>
                                    </ul>
                                </td>
                                <td>{{ player.role }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3><a data-ui-sref="teamOne({ teamId: vm.match.away_team.id})">{{ vm.match.away_team.name | capitalize }}</a></h3>
                        <table class="table table-striped">
                            <thead>
                            <th>#</th>
                            <th><a data-ng-click="orderByField='name'; reverseSort = !reverseSort">Name</a></th>
                            <th>Nationality</th>
                            <th><a data-ng-click="orderByField='role'; reverseSort = !reverseSort">Role</a></th>
                            </thead>
                            <tr data-ng-repeat="player in vm.match.away_team.roster | filter:searchText |orderBy:orderByField:reverseSort">
                                <td><a data-ui-sref="playerOneFromTeam({ teamId: vm.match.away_team.id, playerId: player.id })">#</a></td>
                                <td><a data-ui-sref="playerOneFromTeam({ teamId: vm.match.away_team.id, playerId: player.id })">{{ player.name| capitalize }} {{ player.surname| capitalize }}</a></td>
                                <td>
                                    <ul class="f32">
                                        <li title="{{player.nationality}}" class="flag {{player.nationality.toLowerCase()}}"></li>
                                    </ul>
                                </td>
                                <td>{{ player.role }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a data-ui-sref="simulateMatch({ matchId: vm.match.id })">
                    <button ng-hide="vm.match.simulated"  type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Simulate Match
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>